* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

body {
    background-color: #38D0F2;
}

@font-face {
    font-family: 'KanitBold';
    src: url(fonts/Kanit-Bold.ttf);
}

@font-face {
    font-family: 'Kanit';
    src: url(fonts/Kanit-Regular.ttf);
}

/* #main {
    background: linear-gradient(245deg, #F00 0%, rgba(0, 26, 255, 0.56) 100%);
} */

.logo {
    font: 700 40px 'KanitBold', sans-serif;
}

nav {
    text-align: center;
    margin-top: 50px;
}

.subTitulo {
    margin-left: 60px;
    font: 400 25px 'Kanit', sans-serif;
}

/* CAIXA */
.caixas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}

.caixa {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 230px;
    background-color: white;
    border-radius: 10px;
    height: 400px; 
    cursor: pointer;
    margin-top: 20px;
}

.caixa .imagem img {
    padding-top: 50px;
    padding: 30px;
    height: 170px;
}

.caixa:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
    transform: 0.2;
    box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.texto {
    text-align: center;
    margin: 5px;
}

#calculo, #calculo2, #calculo3, #calculo4, #calculo5 {
    font: 400 20px 'Kanit', sans-serif;
    color: red;
}

.titulo {
    font: 800 20px 'Kanit', sans-serif;
}

.calc {
    margin-top: 10px;
}

/* @media screen and (max-width: 400px) {
    .caixas {
        display: flex;
        margin: 100px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
} */